* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  
}

.img-responsive {
  width: 100%;
}

.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-white {
  color: crimson;
}
.clearfix {
  clear: both;
  float: none;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: #ff4757;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-primary {
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  color: gray;
  background-color: #ff4757;
}

h2 {
  color: crimson;
  font-size: 2rem;
  margin-bottom: 2%;
}

h3 {
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 10%;
}


/* not done here */
.float-container{
  position: relative;
}

.float-text{
position: absolute;
bottom: 50px;
}

.logo {
  width: 15%;
  float: left;
}

.menu {
  line-height: 60px;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

.food-search {
  background-image: url("./images/f6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}

.food-search input[type="search"] {
  width: 50%;
  padding: 1%;
  font: 1rem;
  border: none;
  border-radius: 5px;
}

.categories {
  padding: 4% 0;
}

.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}

.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}

.food-menu-box {
  width: 43%;
  margin: 1%;
  padding: 2%;
  float: left;
  background-color: white;
  border-radius: 15px;
}

.food-menu-img {
  width: 20%;
  float: left;
}

.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}

.food-detail {
  font-size: 2rem;
  color: #747d8c;
  margin-bottom: 20px;
}

.food-menu-desc .btn {
  padding: 10px;
}

.social {
  background-color: #485563;
  min-height: 200px;
  padding-top: 50px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
